<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Enter</servlet-name>
        <servlet-class>servlet.account.enter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNickName</servlet-name>
        <servlet-class>servlet.account.editNickName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChekEnterprises</servlet-name>
        <servlet-class>servlet.enterprise.ChekEnterprises</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BayEnterprise</servlet-name>
        <servlet-class>servlet.enterprise.BayEnterprise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapImprovements</servlet-name>
        <servlet-class>servlet.account.MapImprovements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incasation</servlet-name>
        <servlet-class>servlet.enterprise.CheckIncasation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enter</servlet-name>
        <url-pattern>/enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNickName</servlet-name>
        <url-pattern>/editNickName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChekEnterprises</servlet-name>
        <url-pattern>/chekEnterprises</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BayEnterprise</servlet-name>
        <url-pattern>/BayEnterprise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapImprovements</servlet-name>
        <url-pattern>/MapImprovements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incasation</servlet-name>
        <url-pattern>/Incasation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
